{% extends '../base.html' %}
{% block home_url %}
    "/members/member_home"
{% endblock home_url %}

{% block nav_links %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/members/member_home"
            ><strong style="color: wheat"><b>Home </b></strong
            ><span class="sr-only"></span
            ></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/members/astronomer_crud"
            ><strong style="color: wheat"><b>CRUD astronomer's info</b></strong
            ><span class="sr-only"></span
            ></a>
        </li>
{#        <li class="nav-item active">#}
{#            <a class="nav-link" href="/logged_member/article_crud"#}
{#            ><strong style="color: wheat"><b>CRUD article</b></strong#}
{#            ><span class="sr-only"></span#}
{#            ></a>#}
{#        </li>#}
        <li class="nav-item active">
            <a class="nav-link" href="/members/logout_member"
            ><strong style="color: wheat"><b>logout</b></strong
            ><span class="sr-only"></span
            ></a>
        </li>
    </ul>
{% endblock nav_links %}
{% block msgs %}

{% endblock msgs %}
{% block content %}
    <div>
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">
            <ol class="carousel-indicators">
                {% for carousel in carousels %}
                    <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}" class={{ carousel.active }}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for carousel in carousels %}
                    {% with carousel.images as IMAGE_PATH %}
                        <div class="carousel-item {{ carousel.active }}">
                            <a href="#">
                                <picture>
                                    <source srcset="{{ IMAGE_PATH.pc }}" media="(min-width: 1400px)"
                                            style="width: 100%;height: auto">
                                    <source srcset="{{ IMAGE_PATH.pc }}" media="(min-width: 769px)"
                                            style="width: 100%;height: auto">
                                    <source srcset="{{ IMAGE_PATH.pc }}" media="(min-width: 577px)"
                                            style="width: 100%;height: auto">
                                    <img src="{{ IMAGE_PATH.mob }}" alt="responsive image"
                                         class="d-block img-fluid" style="width: 100%;height: auto">
                                </picture>

                                <div class="carousel-caption justify-content-center align-items-center">
                                    <div>
                                        <h2>{{ carousel.caption_title }}</h2>
                                        <p>{{ carousel.caption }}</p>

                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- /.carousel -->
    </div>
{% endblock content %}