{% extends 'base.html' %}
{% load static %}
{% block title %}
    Astro-sources
{% endblock %}
{% block defineStyle %}
    <style>
        div.scrollmenu {
            background-color: #333;
            overflow: auto;
            white-space: nowrap;
        }

        div.scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }

        div.scrollmenu a:hover {
            background-color: #777;
        }

    </style>
{% endblock %}
{% block content %}

    <div class='container mb-5 mt-5 text-center'
         style="background-image: url('{% static BG_IMG %}');background-attachment:fixed;background-size: cover;">
        <div class="scrollmenu">
            <a href="/apod">Astro-pic of the day</a>
        </div>
        {% block asked_content %}

        {% endblock %}
    </div>

{% endblock %}