{% extends '../base.html' %}

{% block title %}
    Council member login
{% endblock title %}
{% block defineStyle %}
    <style>
        @import url('https://fonts.googleapis.com/css?family=Numans');

        body {
            background-image: url('https://raw.githubusercontent.com/Darshan110801/Site-for-my-blogs/main/544750.jpg');
            background-size: cover;
            background-attachment: fixed;
            background-repeat: repeat;
            height: 100%;
            font-family: 'Numans', sans-serif;
        }

        .container {
            height: 100%;
            align-content: center;
        }

        .card {
            height: 370px;
            margin-top: auto;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0, 0, 0, 0.5) !important;
        }

        .social_icon span {
            font-size: 60px;
            margin-left: 10px;
            color: #FFC312;
        }

        .social_icon span:hover {
            color: white;
            cursor: pointer;
        }

        .card-header h3 {
            color: white;
        }

        .social_icon {
            position: absolute;
            right: 20px;
            top: -45px;
        }

        .input-group-prepend span {
            width: 50px;
            background-color: #FFC312;
            color: black;
            border: 0 !important;
        }

        input:focus {
            outline: 0 0 0 0 !important;
            box-shadow: 0 0 0 0 !important;

        }

        .remember {
            color: white;
        }

        .remember input {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 5px;
        }

        .login_btn {
            color: black;
            background-color: #FFC312;
            width: 100px;
        }

        .login_btn:hover {
            color: black;
            background-color: white;
        }

        .links {
            color: white;
        }

        .links a {
            margin-left: 4px;
        }
    </style>
{% endblock defineStyle %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}


    <div class="container my-5">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class='text-center'>Sign In</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            &nbsp;&nbsp;
                            <input type="text" name='username' id='username' class="form-control"
                                   placeholder="username">

                        </div>
                        <br>
                        <br>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            &nbsp;&nbsp;
                            <input type="password" name='password' id='password' class="form-control"
                                   placeholder="password">
                        </div>
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="text-center"><input type="submit" value="Login"
                                                            class="btn float-right login_btn"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}